[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetaSKAT"]
	path = MetaSKAT
	url = https://github.com/cran/MetaSKAT
[submodule "dSVA"]
	path = dSVA
	url = https://github.com/cran/dSVA
